<app-nav></app-nav>
<app-layout></app-layout>

<div class="structures">

    <div class="div-select">
        <label for="select-structures">Select the Structure you want to handle : </label>
        <select id="select-structures" [(ngModel)]="selectedOption">
        <option *ngFor="let structure of structures" [value]="structure.structureId">Structure {{structure.structureId}}</option>
        </select>
    </div>
    <button type="button" class="btn-read" routerLink="/structure/{{selectedOption}}">Display it</button>

</div>

