.div-select {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #29854f;
    padding: 1rem;
    font: 1.5vw 'Open Sans', sans-serif;
    border-radius: 3px;
    background: #29854f;
    justify-content: center;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-read{
    font-size: 1.5vw;
    background: #29854f;
    color: white;
    border: 0 none;
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
}

.btn-read:hover{
    font-size: 1.51vw;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #29854f;
}

.structures{
    display:flex;
    flex-direction:column;
    align-items: center;
}

#select-structures {
    border-color: #A6AFB7;
    padding: 8px 16px;
    border-radius: 3px;
    width: fit-content;
}

label {
    margin-right: 1rem;
    color:white;
}
