.div-select {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #29854f;
    padding: 1rem;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    font: 14px 'Open Sans', sans-serif;
    cursor: pointer;
    color: white;
    border-color: #A6AFB7;
    min-width: 256px;
    padding: 8px 16px;
    border-radius: 3px;
    background: #29854f;
    width: fit-content;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#select-structures {
    background: #FFFFFF url('https://i.imgur.com/hRbauFc.png') no-repeat scroll right center;
    color: white;
    border-color: #A6AFB7;
    min-width: 256px;
    padding: 8px 16px;
    border-radius: 3px;
    width: fit-content;
}

label {
    margin-right: 1rem;
}
