<app-nav></app-nav>
<app-layout></app-layout>

<div class="div-table">
    <table class="table">
        <thead >
            <tr>
                <th colspan="2">Structure {{structure.structureId }} </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Structure ID</th>
                <td>{{ structure.structureId }}</td>
            </tr>
            <tr>
                <th>Structure Data</th>
                <td> {{ structure.data }} </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn-read">Display releases related to the Structure {{ structure.structureId }} </button>
</div>
