h1{
    text-align: center;
    color: var(--dark-green);
    margin-top:0px;
    margin-bottom: 2.5vh;
    font-size: 3vw;
    font-weight: 100;
}

.figure{
    border-top:2px solid var(--green);
    padding:1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    }

    .figure img{
        width: 100%;
        height: auto;
        padding:1rem;
        border-bottom: 2px solid var(--green);
    }